
@{
    ViewBag.Title = "Pytanie 2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <h1>Wybierz swoją płeć:</h1><br />

    @using (Html.BeginForm("Question2", "QuestionsRacquet"))
    {
        @Html.RadioButton("answer", "300")
        <span>Kobieta</span>
        <br />

        @Html.RadioButton("answer", "400")
        <span>Mężczyzna</span>
        <br />

        <p align="left" style="padding-left: 20%">
            <input type="submit" value="Następne pytanie" />

        </p>
    }
</section>