@{
    ViewBag.Title = "Dobór rakiety tenisowej.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>

    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>

    @using (Html.BeginForm("StartRacquetQuestion", "QuestionsRacquet"))
    {
        <p align="left" style="padding-left: 20%; padding-top: 15px">
            <input type="submit" name="start" value="Rozpocznij"/>
        </p>
    }
</section>

